
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
//@use '@angular/material' as mat;
@use '@angular/material' as mat;
@import "./assets/styles/stylestheme.css";

@font-face {
  font-family: "MyGothic";
  src: url('./assets/fonts/NaxrsoulCather-E4PWe.ttf') format('truetype');
  font-family: "Tobec";
  src: url('./assets/fonts/Tobec___.ttf') format('truetype');
}


body { height: 100%; }

h1{
  margin: 0;
  font-family: "Tobec";
  font-size: xx-large;
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: #D4AF37,
    container-text-color: #2d0050
  ));
  @include mat.progress-spinner-overrides((
    active-indicator-color: #2d0050,
  ));
}

mat-card{
  margin: 2em auto;
}

