
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
//@use '@angular/material' as mat;
@use '@angular/material' as mat;
@import "./assets/styles/stylestheme.css";

@font-face {
  font-family: "MyGothic";
  src: url('./assets/fonts/NaxrsoulCather-E4PWe.ttf') format('truetype');
  font-family: "Tobec";
  src: url('./assets/fonts/Tobec___.ttf') format('truetype');
}

html, body { height: 100%; }

body,

h1{
  margin: 0;
  font-family: "Tobec";
  font-size: xx-large;
}

html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
