@use '@angular/material' as mat;

@font-face {
  font-family: "MyGothic";
  src: url('../../../assets/fonts/NaxrsoulCather-E4PWe.ttf') format('truetype');
  font-family: "Tobec";
  src: url('../../../assets/fonts/Tobec___.ttf') format('truetype');
}

mat-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner{
  padding: 50px;
  background: #deb7ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crimsomRed{
  color: #B22222;
}

.goldenWind{
  color: #D4AF37;
}


