@use '@angular/material' as mat;

@font-face {
  font-family: "MyGothic";
  src: url('../../../assets/fonts/NaxrsoulCather-E4PWe.ttf') format('truetype');
  font-family: "Tobec";
  src: url('../../../assets/fonts/Tobec___.ttf') format('truetype');
}

mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column-ed{
  flex: 0 0 100px;
}

.action-column-add{
  flex: 0 0 100px;
}

.crimsomRed{
  color: #B22222;
}

.goldenWind{
  color: #D4AF37;
}

